@model List<LibraryPortal.Models.Item>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/Scripts/libraryItems.js"></script>

@Html.Partial("_create", new LibraryPortal.Models.Item())

<div style="padding-top: 3px;">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create New</button>
</div>
<div id="container"></div>

<script type="text/javascript">
    libraryItems.getItems();
</script>