@model List<LibraryPortal.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Library Items</h2>

@Html.Partial("_create", new LibraryPortal.Models.Item())

<div style="padding-top: 3px;">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create New</button>
</div>
<div id="container">
    @Html.Partial("_Table")
</div>

<script>
    function RefreshList()
    {
        $.ajax({
            type: "GET",
            URL: "Items/Table",
            success: function (response) {
                $("#container").html(response);
            }
        })

    }

</script>